@import "../../styles/base/utils.scss";
@import "../../styles/base/mixins.scss";

.works {
  padding: 7.625rem 13.75rem 15.375rem;
  h1,
  h2 {
    margin-top: 0.5rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 9.375rem;
    gap: 15rem;
    li {
      position: sticky;
      top: 6rem;
      background: #fff;
      z-index: 2;
      a {
        @extend .flex-ac;
        gap: 5rem;
        h2 {
          color: #000f30;
          font-family: "Axiforma", sans-serif;
          margin-top: 1.25rem;
          line-height: 2.375rem;
          max-width: 20.375rem;
        }
        p {
          color: rgba(0, 15, 48, 0.65);
          font-size: 0.875rem;
          margin-top: 1.5rem;
        }
        img {
          width: 30rem;
          height: 100%;
        }
      }
    }
    @media (max-width: 600px) {
      align-items: center;
      gap: 8.75rem;
      margin-top: 6.25rem;
      li {
        position: unset;
        a {
          gap: 2rem;
          flex-direction: column;
          align-items: flex-start;
          img {
            width: auto;
          }
        }
      }
    }
    @include respondMax("mobile2x") {
      li a img {
        object-fit: cover;
        height: 30rem;
        width: 38rem;
        border-radius: 16px;
      }
    }
    @media (max-width: 360px) {
      li a img {
        width: auto;
      }
    }
  }
  @include respondMax("tablet3x") {
    padding: 6.25rem 2.125rem;
  }
}

.case {
  padding: 7.625rem 13.75rem 15.375rem;
  h1,
  h2 {
    margin-top: 0.5rem;
  }
  &_top {
    &_intro {
      h1 {
        max-width: 42.125rem;
      }
    }
    &_info {
      display: flex;
      gap: 10.75rem;
      margin-top: 3.75rem;
      &_entry {
        @extend .flex-ac;
        gap: 1.25rem;
        h5 {
          color: rgba(0, 15, 48, 0.65);
          font-size: 0.75rem;
          font-weight: 400;
        }
        p {
          color: #000f30;
          font-size: 0.875rem;
          margin-top: 0.625rem;
        }
      }
    }
    &_cover {
      margin-top: 5.625rem;
      margin-left: -13.75rem;
      width: 100vw;
      img {
        width: inherit;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_center {
    margin-top: 5.25rem;
    &_entry {
      display: grid;
      grid-template-columns: 1fr 1fr;
      h1 {
        font-size: 1.625rem;
        line-height: 2.5rem;
      }
      &:first-child {
        margin-bottom: 8.25rem;
      }
      &_right {
        margin-top: 1.5rem;
        p {
          color: rgba(0, 15, 48, 0.65);
          line-height: 1.875rem;
          max-width: 28rem;
        }
      }
    }
    &_imgs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem;
      margin-top: 8.5rem;
      &_entry {
        @extend .flex-ac;
        flex-direction: column;
        gap: 1.5rem;
        img {
          width: 100%;
          height: auto;
        }
        &:last-child {
          margin-top: 8rem;
        }
      }
      p {
        color: #000f30;
        font-size: 1.125rem;
        line-height: 1.875rem;
        text-align: center;
        max-width: 18.125rem;
      }
    }
  }
  &_bottom {
    margin-top: 10.375rem;
    h1 {
      font-size: 1.625rem;
      line-height: 2.5rem;
      max-width: 25rem;
    }
    &_intro {
      h1 {
        margin-bottom: 3.875rem;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &_about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 8.25rem;

      &_right {
        margin-top: 1.5rem;
        p {
          color: rgba(0, 15, 48, 0.65);
          line-height: 1.875rem;
          max-width: 28rem;
        }
      }
    }
  }
  @include respondMax("tablet3x") {
    padding: 6.25rem 2.125rem;
    &_top_cover {
      margin-left: -2.125rem;
    }
  }
  @media (max-width: 600px) {
    p {
      max-width: unset;
    }
    &_center {
      &_entry {
        grid-template-columns: 1fr;
      }
      &_imgs {
        grid-template-columns: 1fr;
        &_entry {
          &:last-child {
            margin-top: 5rem;
          }
        }
      }
    }
    &_bottom_about {
      grid-template-columns: 1fr;
    }
  }
  @include respondMax("mobile2x") {
    &_top_info {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
