@import "../../styles/base/mixins.scss";
@import "../../styles/base/utils.scss";

.careers {
  h1 {
    margin-top: 0.5rem;
  }
  &_hero {
    &_intro {
      @extend .flex-ac-jb;
      padding: 9.625rem 13.625rem 3.125rem 13.75rem;
      h1 {
        max-width: 29rem;
      }
      @include respondMax("tablet3x") {
        padding: 6.25rem 2.125rem 1.875rem;
      }
      @media (max-width: 600px) {
        button {
          display: none;
        }
      }
    }
    &_img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_goal {
    padding: 7.188rem 16.875rem 7.5rem 13.75rem;
    &_intro {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      p {
        color: rgba(0, 15, 48, 0.65);
        line-height: 1.875rem;
        max-width: 42.688rem;
      }
      div {
        &:last-child {
          margin-top: 2rem;
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        div {
          &:last-child {
            margin-top: 1.25rem;
          }
        }
      }
    }
    &_imgs {
      display: flex;
      gap: 2.5rem;
      margin-top: 7.5rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &:last-child {
          margin-top: 5.563rem;
        }
      }
    }
    @include respondMax("tablet3x") {
      padding: 6.25rem 2.125rem;
    }
    @media (max-width: 600px) {
      &_imgs {
        flex-direction: column;
        img {
          &:first-child {
            margin-left: -2.125rem;
          }
          &:last-child {
            margin-top: 1.68rem;
            padding-left: 2.125rem;
          }
        }
      }
    }
  }
  &_benefits {
    padding: 0 23.563rem 20rem 13.75rem;
    &_list {
      margin-top: 6.375rem;
      display: grid;
      grid-template-columns: 1.75fr 1fr;
      row-gap: 6.813rem;
      div {
        h3 {
          color: #000f30;
          line-height: 1.875rem;
          margin-top: 2.375rem;
          font-weight: 600;
          max-width: 17.813rem;
        }
        p {
          color: rgba(0, 15, 48, 0.65);
          line-height: 1.875rem;
          max-width: 17.813rem;
          margin-top: 1rem;
        }
      }
    }
    @include respondMax("tablet3x") {
      padding: 0 2.125rem 6.25rem;
      &_list {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media (max-width: 600px) {
      &_list {
        grid-template-columns: 1fr;
        gap: 5rem;
        margin-top: 3.75rem;
        div {
          p {
            max-width: unset;
          }
        }
      }
    }
  }
  &_positions {
    padding: 0 15.625rem 10.313rem 13.75rem;
    &_intro {
    }
    &_list {
      margin-top: 4.813rem;
      &_item {
        border-top: 0.7px solid rgba(236, 236, 236, 0.65);
        padding: 1.5rem 0;
        header {
          @extend .flex-ac-jb;
          cursor: pointer;
        }
        &_left {
          @extend .flex-ac;
          gap: 3.5rem;
          h3 {
            color: #000f30;
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 2.18rem;
          }
          h5 {
            @extend .flex-ac;
            color: #00d161;
            gap: 0.875rem;
            font-size: 0.875rem;
            font-weight: 400;
            margin-top: 0.25rem;
            span {
              height: 3px;
              width: 3px;
              border-radius: 50%;
              background: #00d161;
            }
          }
        }
        .info {
          margin-top: 1.875rem;
          p {
            color: rgba(0, 15, 48, 0.65);
            line-height: 1.875rem;
            max-width: 30.75rem;
          }
        }
      }
    }
    @include respondMax("tablet3x") {
      padding: 0 2.125rem 6.25rem;
    }
  }
}
