@import "../../styles/base/utils.scss";
@import "../../styles/base/mixins.scss";

.home {
  &_hero {
    background: #000a20;
    padding: 11.813rem 13.875rem 15.813rem;
    &_title {
      position: relative;
      h1 {
        color: #fff;
        max-width: 45.625rem;
      }
      svg {
        position: absolute;
        top: -2.5rem;
        left: -4.25rem;
        opacity: 0;
        @include respondMin("desktop3x") {
          top: -0.5rem;
          left: -2.25rem;
        }
        @include respondMax("tablet3x") {
          display: none;
        }
      }
    }
    p {
      color: rgba(255, 255, 255, 0.65);
      font-size: 1.125rem;
      line-height: 1.938rem;
      max-width: 42.688rem;
      margin-top: 1.125rem;
    }
    &_btns {
      @extend .flex-ac;
      gap: 0.5rem;
      margin-top: 4.25rem;
      button {
        white-space: nowrap;
        width: 12rem;
        transform: translateY(100%);
        opacity: 0;
        &:last-child {
          font-weight: 500;
          // svg {
          //   transform: scale(1.5);
          // }
        }
      }
      @include respondMax("mobile2x") {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
      }
    }
    @include respondMax("tablet3x") {
      padding: 6.25rem 2.125rem;
    }
  }
  &_intro {
    padding: 13.688rem 16.75rem 14.563rem 13.938rem;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    h1 {
      max-width: 29rem;
      margin-top: 0.5rem;
    }

    button {
      border: 1px solid #e4e3e3;
      margin-top: 1.625rem;
    }
    &_right {
      margin-top: 2.5rem;
      p {
        color: rgba(0, 15, 48, 0.65);
        line-height: 1.5rem;
        max-width: 28rem;
      }
      @media (max-width: 600px) {
        margin-top: 0.75rem;
      }
    }
    @include respondMax("tablet3x") {
      padding: 6.25rem 2.125rem;
    }
    @include respondMax("mobile2x") {
      p {
        max-width: unset;
      }
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &_services {
    background: #000a20;
    padding-bottom: 5rem;
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow: auto;
      &::-webkit-scrollbar {
        height: 2px;
        position: absolute;
        top: 0;
        @include respondMin("tablet") {
          display: none;
        }
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }
      &::-webkit-scrollbar-track {
        background: rgba(228, 227, 227, 0.25);
      }
    }
    &_item {
      overflow: hidden;
      min-width: 22.5rem;
      img {
        width: 100%;
        transform: translateX(100%);
      }
      &_footer {
        padding: 3rem 1.5rem 6.53rem 2.5rem;
        h3 {
          color: rgba(255, 255, 255, 0.75);
          font-size: 1.375rem;
          font-weight: 600;
          max-width: 10.25rem;
          line-height: 1.625rem;
          transform: translateY(160px);
        }
        p {
          color: #fff;
          line-height: 1.625rem;
          margin-top: 0.875rem;
          max-width: 17rem;
          visibility: hidden;
        }
      }
      &:not(:last-child) {
        border-right: 0.5px solid rgba(255, 255, 255, 0.2);
      }
    }
    @include respondMax("tablet3x") {
      h3,
      p {
        transform: translate(0, 0);
        visibility: visible;
      }
    }
  }
  &_works {
    padding: 14.063rem 13.938rem 11.813rem;
    &_intro {
      display: grid;
      grid-template-columns: 1.05fr 1fr;
      &_left {
        h1 {
          max-width: 20.25rem;
          margin-top: 0.5rem;
        }
      }
      &_right {
        margin-top: 2.5rem;
        p {
          color: rgba(0, 15, 48, 0.65);
          max-width: 28rem;
          line-height: 1.5rem;
        }
        @media (max-width: 600px) {
          margin-top: 0.75rem;
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.313rem;
      margin-top: 7.5rem;
      a {
        &:last-child {
          margin-top: 8.75rem;
        }
      }
      &_item {
        @extend .flex-ac-jc;
        flex-direction: column;
        gap: 1.375rem;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        p {
          color: #000f30;
          font-size: 1.125rem;
          line-height: 1.63rem;
          font-family: "Axiforma", sans-serif;
          text-align: center;
          max-width: 22.813rem;
          .title {
            font-weight: 700;
          }
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        margin-top: 3.875rem;
        &_item {
          &:last-child {
            margin-top: 0;
          }
        }
      }
    }
    &_btn {
      @extend .flex-ac-jc;
      margin-top: 4.375rem;
      button {
        @include respondMax("mobile2x") {
          display: none;
        }
      }
    }
    @include respondMax("tablet3x") {
      padding: 6.25rem 2.125rem;
    }
  }
  &_pdts {
    background: #000a20;
    padding: 6.375rem 13.938rem 5.313rem;
    h1 {
      margin-top: 0.5rem;
    }
    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 6.25rem;
      overflow: auto;
      padding-bottom: 5rem;
      &::-webkit-scrollbar {
        height: 2px;
        @include respondMin("tablet") {
          display: none;
        }
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }
      &::-webkit-scrollbar-track {
        background: rgba(228, 227, 227, 0.25);
      }
      &_item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background: transparent;
        height: 34.438rem;
        border-right: 0.5px solid rgba(255, 255, 255, 0.2);
        padding: 0 1.875rem;
        min-width: 20rem;
        &.hover {
          border: none;
        }
        h3 {
          color: #fff;
          font-size: 1.375rem;
          max-width: 8.5rem;
          line-height: 1;
        }
        p {
          color: #fff;
          font-size: 0.875rem;
          line-height: 1.688rem;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.03);
          border-right: none;
        }
      }
    }
    @include respondMax("tablet3x") {
      padding-left: 2.125rem;
      padding-right: 2.125rem;
    }
  }
  &_testimonials {
    padding: 7.5rem 13.75rem 13.75rem;
    &_intro {
      h1 {
        margin-top: 0.5rem;
      }
    }
    &_marquee {
      display: flex;
      width: max-content;
      gap: 10rem;
      will-change: transform;
      animation: move 25s linear infinite;
    }
    ul {
      @extend .flex-ac-jb;
      gap: 10rem;
      // margin-left: -13.75rem;
      // margin-right: -13.75rem;
      // overflow: hidden;
      li {
        @extend .flex-ac-jc;
        flex-direction: column;
        text-align: center;
        font-family: "Axiforma", sans-serif;
        p {
          color: rgba(0, 15, 48, 0.5);
          font-size: 1.25rem;
          line-height: 2.125rem;
          max-width: 27.375rem;
          font-weight: 500;
        }
        h4 {
          color: rgba(0, 15, 48, 0.5);
          font-size: 0.75rem;
          font-weight: 500;
          span {
            font-weight: 700;
          }
        }
      }
    }
    @include respondMax("tablet3x") {
      padding: 6.25rem 2.125rem;
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 10rem));
  }
}
