@import "./mixins";

@font-face {
  font-family: "Axiforma";
  src: url("/assets/fonts/Axiforma-Bold.woff") format("woff"),
    url("/assets/fonts/Axiforma-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/assets/fonts/Axiforma-ExtraBold.woff") format("woff"),
    url("/assets/fonts/Axiforma-ExtraBold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/assets/fonts/Axiforma-Regular.woff") format("woff"),
    url("/assets/fonts/Axiforma-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 1vw;
  @media (max-width: 992px) {
    font-size: calc(100vw / 992 * 14);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 768 * 14);
  }
  @media (max-width: 600px) {
    font-size: calc(100vw / 600 * 14);
  }
  @media (max-width: 480) {
    font-size: calc(100vw / 480 * 16);
  }
  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 14);
  }
}

body {
  background: white;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00d161;
    border-radius: 8px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    // background: #00d161;
    position: absolute;
    padding: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
a {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

// general text styles
h1 {
  color: #000f30;
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.1;
  &.white {
    color: #fff;
  }
  @include respondMax("mobile") {
    font-size: 2.25rem;
    line-height: 3.125rem;
  }
}

h1,
h2,
h3 {
  font-family: "Axiforma", sans-serif;
}

ul {
  list-style-type: none;
}

h4 {
  color: #000f30;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  &.white {
    color: #fff;
  }
}

input {
  font-family: inherit;
}

.transition-chars {
  .char {
    transform: translateY(100%);
  }
}
.word {
  overflow: hidden;
}
[data-selector="hero"],
[data-selector="hero-case"],
[data-animation="text"] {
  .word,
  .char {
    transform: translateY(100%);
    opacity: 0;
  }
}

.nav-link {
  overflow: hidden;
  position: relative;
  height: max-content;
  .child-link {
    position: absolute;
    left: 0;
    .char {
      transform: translateY(100%);
    }
  }
  &-dark {
    .child-link {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
