@import "../../styles/base/utils.scss";

.button {
  @extend .flex-ac-jc;
  padding: 0 1.625rem;
  height: 3.75rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Axiforma", sans-serif;
  border-radius: 1.875rem;
  width: max-content;
  border: 1px solid rgba(228, 227, 227, 0.3);
  gap: 1.25rem;
  &.started {
    @extend .flex-ac-jb;
    background: #00d161;
    border: 1px solid #00d161;
  }
  &.black {
    color: #000f30;
  }
}
