@import "../../styles/base/utils.scss";

.button {
  @extend .flex-ac-jb;
  height: 60px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Axiforma", sans-serif;
  border-radius: 30px;
  width: 193px;
  padding: 0 1.625rem;
  &.started {
    background: #00d161;
  }
  &.black {
    color: #000f30;
    border: 1px solid #e4e3e3;
  }
}
