@import "../../styles/base/utils.scss";

.button {
  @extend .flex-ac-jc;
  padding: 0 1.625rem;
  height: 3.75rem;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 600;
  font-family: "Axiforma", sans-serif;
  border-radius: 1.875rem;
  width: max-content;
  border: 1px solid rgba(228, 227, 227, 0.3);
  gap: 1.25rem;
  &.started {
    @extend .flex-ac-jb;
    background: #00d161;
    border: 1px solid #00d161;
    width: 12rem;
    &:hover {
      svg {
        animation: none;
      }
    }
    svg {
      animation: arrowMove 1s infinite linear alternate;
    }
  }
  &.black {
    color: #000f30;
    border-color: rgba(228, 227, 227, 1);
  }
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
